<footer>
    <div class="row">
    <div class="col-sm-4 d-flex flex-column align-items-start">
    <h6><span class="oi oi-chat"></span> También puede reservar a través de: </h6>
    <a href="https://www.aerolineas.com.ar/"><span class="oi oi-collapse-up"></span> Aerolineas Argentinas</a>
    </div>
    <div class="col-sm-4 d-flex flex-column">
      <address>
        <H6><span class="oi oi-home"></span> Aeropuerto :</H6>
        <p><span class="oi oi-bullhorn"></span> Capital Federal, Argentina</p>
        <p><span class="oi oi-phone"></span> Telefono: 0810 - 222 - 86527 </p>
        <H6><span class="oi oi-audio-spectrum"></span> Correos Electronicos:</H6>
        <a href="mailto:sergiosnsdk@gmail.com"> Gmail </a>
      </address>
    </div>
    </div>
  </footer>
